body {
    background-image: 
    url("https://cdn11.bigcommerce.com/s-hpuhgk/images/stencil/1000x1000/products/1288/21370/handmade-tile-moroccan-decorative-relief-blue-white-20cm-2__78932.1579868888.jpg?c=2");
}

.header {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
    opacity: 0.8;
    padding: 20px;
    margin: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 10px 5px white;
}

h2 {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 25px;
    opacity: 0.8;
    padding: 20px;
    margin: 25px;
}

ul {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 50px;
    opacity: 0.8;
    margin: 25px;

}